<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isc.backstage.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="com.isc.backstage.entity.Permission">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="intro" column="intro" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="TINYINT"/>
            <result property="uri" column="uri" jdbcType="BIGINT"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="edited" column="edited" jdbcType="TIMESTAMP"/>
            <result property="editor" column="editor" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,code,
        name,intro,category,
        uri,created,creator,
        edited,editor,deleted
    </sql>

    <select id="getPermissionsByRoleIds" resultType="com.isc.backstage.entity.Permission">
        select
            from permission as p
                join role_permission as rp on p.id = rp.permission_id
        where rp.role_id in
        <foreach collection="roleIds" item="roleId" index="index" open="(" separator="," close=")">
            #{roleIds}
        </foreach>
    </select>
</mapper>
